.bg__bookmark-row.item-row{
  .item{
    .image{
      flex-basis: 132px;
      height: 88px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .subcol td{
      width: 150px;
    }
  }

}