.bg__bookmark-row.item-row{
  .item{
    .image{
      flex-basis: 132px;
      height: 88px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info li{         
      .image{
        flex-shrink: 0;
        cursor: pointer;
      }

      &.primary p{
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}