.bg__collection-selector {
	.bg__cls__collection {
		border: 1px solid grey;
	    border-radius: $border-radius;
	    float: left;
	    height: 175px;
	    margin: 1% 1% 1% 1%;
	    overflow:hidden;
	    padding: 10px;
	    text-align: center;
	    width: 30%;
		img {
	    	width: 50%;
		}
		&:hover {
			box-shadow: 3px 3px 3px grey;
		}
		.bg__cls__caption {}
	}
}