.bg__collection-selector {
	.bg__collection-wrapper {
        border-bottom: 1px solid #d3d3d3;
		border-radius: $border-radius;
		float: left;
		height: 240px;
		margin: 1% 1% 1% 1%;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 30%;	

		&:hover {
			color: $highlight-color;
		}

		.bg__cls__collection {
			padding: 10px;
			border-top: 1px solid white;
			img {
				width: 50%;
			}
			&:hover {
				cursor: pointer;				
			}
			.bg__cls__caption {
				h4 {
					margin-top: 0;
				}
			}
		}
	}
	
}