.bg__collection-selector {
	.bg__collection-wrapper {
        border-bottom: 1px solid #d3d3d3;
		border-radius: $border-radius;
		float: left;
		height: 220px;
		margin: 1% 1% 1% 1%;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 30%;

		.bg__cls__collection {
			padding: 10px;

			img {
				width: 50%;
			}
			&:hover {
				cursor: pointer;
			}
			.bg__cls__caption {
				h4 {
					margin-top: 0;
				}
			}
		}

		.bg__collection-info-ckan {
          	align-items: center;
			margin-top: 10px;

			img {
				margin-left: 3px;
			}
			a.bg__url_ckan {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}