.bg__collection-inspector-line-chart {
	margin-top: 30px;
	@include lineChartBase();

	.bg__collection_inspector_no-data {
		margin-top: 12px;
  }
	.percentage {
		font-size: 90%;
		font-weight: bold;
		margin-right: 12px;

	}
}