@include spinner();


  @include lineChartBase();

  .ms__custom-legend {
    color: #f3f3f3;
    margin: 4rem 0;
    padding: 1rem 0;
    text-transform: capitalize;
    display: flex;
    flex-flow: row wrap;

    .bg__comparative_histogram {
      width: calc(100% / 3);
      flex-wrap: wrap;
      flex: initial;
      padding: 15px;
      background-color: #fefefe;
      border: 1px solid #DEDEDA;
      border-radius: 6px;
      box-shadow: 1px 1px 1px 0 #999;
      display: inline-block;
      margin: 1rem 10px 1rem 0;
      width: 48%;
      vertical-align: top;
      p{
        color: #2D343A;
        padding: 0 20px;
        line-height: 1.2rem;
      }
      li {
        color: #2D343A;
        list-style-type: none;
      }
    }
  }