.bg__query-info-block {
	color: #f3f3f3;
	margin: 4rem 0;
	padding: 1rem 0;
	text-transform: capitalize;
	display: flex;
	flex-wrap: wrap;

	.bg__qib__block {
		flex-wrap: wrap;
		flex: 2 2 30em;
		border: 1px solid #dededa;
		box-shadow: 1px 1px 1px 0 #999;
		margin: 10px 0px 0px 10px;

		.bg__qib__query {
			padding:10px;
			color: black;
			height: 350px;
			overflow-y: auto;
			background-color: #fefefe;
			vertical-align: top;
			h4 {
				padding:0px;
				text-align: center;
			}
			li {
				color: #2D343A;
				list-style-type: none;
			}
		}

		.bg__qib__error {
			background-color: #f26c50;
			color: white;
			padding: 6px 10px;
		}
	}
}