.bg__flex-controls {
	position: absolute;
    z-index:700000;
    top: 0%;
    width: 100%;
    height: 100%;

    .toggle-play-overlay {
    	position: absolute;
    	top: 0%;
    	left:0%;
    	width:100%;
    	height:80%;
        &:hover {
            button {
                display:block;
            }
        }

        button {
            margin: 24% auto;
            display:none;
            color: white;
            background-color: black;
            border: none;
            height: 40px;
            width: 40px;
        }

    }

    .seekbar {
        position: absolute;
	    bottom: 28px;
	    width: 98%;
	    left: 1%;
    }

    .buttons {
    	position: absolute;
    	bottom: 4px;
	    right: 10px;
        .volume {
            width: 80px;
            margin-top: 6px;
            display: inline;
        }
	    button  {
	    	width: 30px;
		    height: 30px;
		    background-color: transparent;
		    border: none;
		    color: white;
		    cursor: pointer;
	    }
    }
}
