.bg__flex-player {
	.bg__fxp__track-title {
		font-weight: bold;
		margin: 10px 0px;
	}
	.bg__fxp__track-list {
		margin:5px;
		display: flex;
  		flex-flow: row wrap;
  		justify-content: flex-start;
  		.bg__fxp__track-item {
  			background-color: #ebebeb;
  			border-radius:2px;
  			box-shadow: 2px 2px 2px 2px #333;
  			padding:5px;
  			margin-right:10px;
  		}
	}

}