.bg__single-search-recipe {
	.bg__rcp__ss__select {
		@include checkbox();
		margin-top: 6px;
	}
	.bg__rcp__ss__table-actions-header {
		background-color: #2d343a;
		border-radius: 6px;
		margin: 5px;
		min-height:53px;
		min-width: 100%;
		padding: 10px;
		.bg__rcp__ss__table-actions {
			float:left;
			.btn {
				margin-right:2px;
				.fa-bookmark {
					font-weight: bold;
					&:before {
						margin-right: 6px;
					}
				}
			}
		}
		&.bookmarked-results {
			background-color: transparent;
			margin: 0 0 0 6px;
			padding: 0;
		}
	}

	.bg__rcp__ss__table-actions-footer {
		padding: 10px;
		text-align: center;
	}
	.result-list {
		margin-top: 25px;
	}
	.bg__rcp__ss__table-actions > .bookmark-dropdown-menu {
		display: inline-block;
		button {
			background-color: #468dcb;
			color: white;
			text-align: left;
			width: 100%;
		}
		#dropdownMenuLink {
			padding: 9px;
		}
		.dropdown-menu {
			background-color: #468dcb;
		}
		.dropdown-item {
			border-color: #468dcb;
			margin: 3px 0;

			&:hover {
				color: #d3d3d3;
			}
		}
	}
	.bg__rcp__ss__selected-items {
		background-color: #efefef;
		border-radius: 6px;
		box-shadow: 0 6px 4px -6px #000;
		margin-bottom: 12px;
	}
}