.bg__aggregation-list {
	$aggrBoxShadow: 0 1px 5px rgba(black, 0.1);
	.bg__agl__tab-new {
		margin-bottom: 1rem;
		& > button {
			background-color: $clGrey;
			transition: background-color $transition;
			&:hover {
				background-color: mix($clGrey, $clGreyTint);
			}
		}
	}

	.bg__agl__count {
		background-color: white;
		font-size: 1em;
		border-radius: 25px;
		display: inline-block;
		padding: 2px 8px;
		min-width: 20px;
		vertical-align: middle;
		font-family: $fontHeading;
		float: right;
	}

	.bg__agl__selected-facets {
		margin-bottom: 10px;

		.bg__agl__selected-item {
			border: 1px solid $clGreyTint;
			border-radius: 3px;
			box-shadow: $aggrBoxShadow;
			margin-bottom: 3px;
			padding: 6px 2px 6px 1rem;

			.fa-remove {
				cursor: pointer;
				float: right;
				padding: 4px 5px;
				&:hover {
					opacity: 0.8;
				}
			}
			.bg__agl__count {
				margin-right: 2px;
				margin-top: -2px;
				background-color: $clGrey;
			}
		}
	}

	.bg__agl__facet-group {
		margin: 0;
		max-height: 400px;
		overflow: auto;
		padding-left: 0;

		.bg__agl__facet-item {
			background-color: $clGrey;
			word-wrap: break-word;
			font-size: 1.3rem;
			list-style-type: none;
			margin-bottom: 1px;
			padding: 8px 6px;
			position: relative;
			text-transform: uppercase;

			cursor: pointer;
			color: $list-item-color;
			position: relative;
			margin: 0;
			//Customs styling for checkboxes in facet's view.
			input[type="checkbox"] {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				opacity: 0;
				width: 100%;
				z-index: 10;
				margin: 0;
			}
			input[type="checkbox"]:checked + div span:after {
				color: #468dcb;
				content: "\2713";
				font-size: 18px;
				font-weight: bold;
				position: absolute;
			}
		}
		&:hover {
			background-color: mix($clGrey, $clGreyTint, 50%);
		}
	}

	.bg__agl__facet-block {
		background-color: $clGrey;
		border-bottom: 1px solid $clGreyTint;
		border-radius: 2px;
		box-shadow: $aggrBoxShadow;
		margin-bottom: 12px;

		h4 {
			padding: 10px 0 8px 0;
			margin: 0;
		}

		&.aggregation-no-results {
			background-color: #468dcb;
			border-radius: 0;

			color: #fff;
			h4 {
				display: inline-block;
				font-size: 16px;
				font-weight: 400;
				max-width: 72%;
				overflow: hidden;
				text-overflow: ellipsis;
				top: 4px;
				white-space: nowrap;
			}

			.fa-info-circle,
			.fa-remove {
				padding-top: 8px;
				font-size: 17px;
			}
		}

		.fa-remove {
			cursor: pointer;
			float: right;
			margin-right: 1rem;
		}

		.fa-info-circle {
			float: left;
			margin-left: 1.4rem;
			margin-right: 1rem;
			padding-top: 4px;
		}

		.switchView {
			background-color: #efefef;
			border-radius: 0 0 6px 6px;
			color: #666;
			display: block;
			padding: 5px;
			&:hover {
				color: red;
			}

			.switchViewText {
				font-size: 1.1rem;
				padding-left: 1rem;
			}
			.switchIcon {
				font-size: 1rem;
				margin-left: 0.5rem;
			}
		}
	}

	// hamburger menu
	.bg__agl__hamburger-menu {
		background-color: #468dcb;
		border-radius: 3px 3px 0 0;
		position: relative;

		.hb {
			cursor: pointer;
			height: 25px;
			padding: 4px 0 26px 10px;
			position: relative;
		}
		.hb-line {
			background-color: #fff;
			border-radius: 10px;
			height: 3px;
			position: absolute;
			width: 18px;
		}
		.hb-line-top {
			top: 6px;
		}
		.hb-line-center {
			position: absolute;
			top: 12px;
		}
		.hb-line-center::after {
			background-color: #fff;
			border-radius: 10px;
			content: "";
			height: 3px;
			position: absolute;
			top: 6px;
			width: 18px;
		}
		.hamburger-toggle,
		ul {
			display: none;
		}

		input:checked ~ ul {
			border-top: 1px solid #d3d3d3;
			display: flex;
			width: 100%;
		}
		.bg__agl__sort-exclude-wrapper {
			display: flex;
			color: #fff;
			padding: 5px;

			.bg__agl__exclude-btn {
				flex-grow: 8;
				input {
					margin: 0px 2px 0px 6px;
				}
			}
			.bg__agl__sort-btn-wrapper {
				flex-grow: 2;
				display: flex;
				flex-direction: row-reverse;
				.bg__agl__sort-btn {
					cursor: pointer;
					margin-left: 10px;
					color: #ccc;
					.bg__agl__sort-active {
						color: white;
					}
				}
			}
		}
		label {
			display: inline;
		}
		.rightAlign {
			float: right;
			margin-left: 10px;
			right: 0;
		}
		.fa-remove {
			color: white;
			font-size: 18px;
			position: absolute;
			right: 0;
			top: 5px;
			z-index: 12;
		}
		span {
			&.bg__facet-title {
				color: #fff;
				font-size: 16px;
				font-weight: normal;
				left: 10%;
				overflow: hidden;
				position: absolute;
				text-overflow: ellipsis;
				top: 4px;
				white-space: nowrap;
				max-width: 76%;
				z-index: 10;

				.fa-info-circle {
					float: left;
					font-size: 13px;
					margin-right: 4px;
					padding-top: 5px;
				}
			}
		}
	}
}

//FIXME this should be removed
.aggregation-list {
	padding-left: 0;
	padding-right: 0;
}
