.bg__single-search-collection-bar {
	background-image: $iconDataSetUrl;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 18px;
	padding: 5px 5px 5px 40px;
	min-height: 40px;
	margin-bottom: 20px;
	display: flex;

	.bg__scb__active {
		display: flex;
		justify-content: stretch;
		width: 100%;
		@media screen and (max-width: $break-small) {
			flex-wrap: wrap;
		}

		.bg__scb__collection-info {
			flex-grow: 1;
			h2{
				font-size: 1.2em;
				line-height: 30px;
				display: inline-block;
				margin: 0;
				margin-top: 2px;
			}
		}
		.bg__scb__buttons{
			flex-grow: 1;
			button {
				float: right;
				margin-left: 15px;
				&.btn-secondary {
					background-color: $clGrey;
					color: black;
					&:hover {
						background-color: darken($clGrey, 4%);
					}
				}
			}
		}
	}

	.bg__scb__link {
		display: inline-block;
		font-size: 0;
		background-color: $clPrimary;
		color: white;
		border-radius: 2px;
		min-width: 30px;
		height: 28px;
		vertical-align: top;
		background-image: $iconLinkUrl;
		background-position: center;
		background-repeat: no-repeat;
		margin-left: 10px;
		margin-top: 3px;
		transition: background-color $transition;
		background-size: 19px;
		&:hover {
			background-color: darken($clPrimary, 8%);
		}
	}

	.bg__scb__count {
		margin-top: 5px;
		margin-left: 10px;
		background-color: $clGrey;
		font-size: 1em;
		border-radius: 25px;
		display: inline-block;
		padding: 2px 8px;
		min-width: 20px;
		vertical-align: top;
		font-family: $fontHeading;
	}
}
