.bg__field-category-selector {
	.PowerSelectMultiple__SelectedOptions {
		margin:0px;
		.PowerSelectMultiple__SelectedOption {
			background-color: $fill-color;
			color: white;
			border: 1px solid $border-color;
			.bg__ul-selectedOption {
				list-style-type: none;
				-moz-padding-start: 0;
				-webkit-padding-start: 0;
			}
		}
		.PowerSelectMultiple__SelectedOption__Close {
			&:hover {
				background-color: $hover-color;
			}
		}
	}
}

.bg__fcs__option-create {
	padding: 0px 5px 5px 10px;
} /* NOTE: Also in FieldCategorySelector.jsx */