.bg__query-builder {
	.bg__qb__search-layers {}

	.bg__qb__breadcrumbs {
		.bg__qb__crumb {
			display: inline-block;
	    	margin: 0px 5px 5px 0px;
	    	i {
	    		cursor: pointer;
		    	&:hover {
		    		text-decoration:underline;
		    	}
		    }
		}
	}

	.bg__qb__graph > button {
		float: right;
		position: relative;
		right: 12px;
		top: 12px;
		z-index: 10;
	}
	.bg__clear-query-btn {
		margin-left: 12px;
	}
}