.bg__query-builder {
	.separator {
	    height: 1em;
	}

	.bg__qb__search-layers {
	}

	.bg__qb__breadcrumbs {
		.bg__qb__crumb {
			display: inline-block;
			margin: 0px 5px 5px 0px;
			i {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.bg__qb__query-row{
		display: flex;
	}

	.bg__qb__graph > button {
		float: right;
		position: relative;
		right: 12px;
		top: 12px;
		z-index: 10;
	}
	.bg__clear-query-btn {
		margin-left: 12px;
	}

	.bg__qb__input-search {
		border-radius: 5px 0 0 5px;
	}

	.bg__qb__count {
		margin-top: 5px;
		background-color: $clGrey;
		font-size: 1em;
		border-radius: 25px;
		display: inline-block;
		padding: 2px 8px;
		min-width: 20px;
		vertical-align: top;
		font-family: $fontHeading;
	}

	.bg__qb__search-holder {
		display: flex;
		margin-right: 10px;
		& > span{
			background-color: $clPrimary;
			color: white;
			border-radius: 0 5px 5px 0;
			display: inline-block;
			width: 50px;
			height:34px;
			text-align: center;
			line-height: 34px;
			& > i, &>span{
				line-height: 34px;
			}
		}
	}

	.bg__qb__selector-holder {
		flex-grow: 1;
		display: flex;
		margin-right: 10px;
		.bg__qb__in-label {
			margin-right: 10px;
			line-height: 35px;
		}

		.bg__qb__arrow-label {
			margin-left: 10px;
			line-height: 35px;
			font-size: 0.8em;
		}

		.bg__field-category-selector {
			flex-grow: 1;
		}
	}

	.bg__qb__tutorial{
		margin-top: 15px;
		margin-bottom: 10px;
		border-radius: 5px;
		border: 1px solid mix(white, $clPrimary, 70%);
		background-color: mix(white, $clPrimary, 90%);
		padding: 10px;
		text-align: center;
		line-height: 25px;
		span{
			cursor: pointer;
			margin-left: 10px;
			background-color: $clPrimary;
			display: inline-block;
			vertical-align: top;
			width: 25px;
			height: 25px;
			line-height: 24px;
			color: white;
			font-weight: bold;
			font-family: $fontHeading;
			vertical-align: center;
			font-size: 1.3em;
		}
	}

	.bg__qb__result-dates{
		padding: 10px 10px;
		border-radius: 5px;
		border: 1px solid $clGreyTint;
		background-color: $clGrey;

		input[type=text]{
			margin-bottom: 0;
		}
	}

}
