.bg__search-snippet {
	display: flex;
	padding: 20px 10px 20px 10px;
	cursor: pointer;
	&:hover {
		.bg__ss__title {
			text-decoration: underline;
		}
	}

	.bg__ss__poster {
		padding-right: 20px;
		img {
			width: 200px;
			max-width: 200px;
			max-height: 200px;
		}
	}

	.highLightText {
		color: $highlight-color-snippets;
		font-weight: bold;
		font-size: 97%;
	}

	.bg__ss__snippet-description {
		cursor: pointer;
		font-style: italic;
		font-size: 14px;
	}

	.bg__ss__info {
		display: flex;
		margin: 10px 0;
		font-size: 13px;
		text-transform: uppercase;
		color: lighten(black, 25%);

		& > div{
			margin-right: 20px;
			i {
				display: inline-block;
				margin-right: 10px;
				font-style: normal;
				color: black;
			}
		}

		.bg__ss__icons{
			color: black;
		}
	}

	.label-success{
		background-color: $clDarkGrey;
		color: white;
	}

	.bg__ss__fragment {
		color: dimgray;
		font-style: italic;
		margin-top: 5px;
	}

	.bg__ss__media-body {
		.bg__ss__title {
			margin-top: 0;
			padding-top: 0;
			font-size: 20px;
			line-height: 1.35em;
		}
	}
}
