.bg__playlist {

	.items {
		.item {
			margin-top:2px;
			background-color: white;
			padding:10px;
			border-bottom: 1px solid #ccc;
			.segment {
				padding-left: 10px;
				margin-bottom: 5px;
				cursor: pointer;
				color: black;
				&:hover {
					color: #ddd;
				}
				.segment-title {
					cursor: pointer;
				}
				.segment-duration {
					background-color: #468dcb;
				    border-radius: 4px;
				    color: #fff;
				    display: inline-block;
				    font-size: 1rem;
				    padding: 1px 6px;
				}
				&.main {
					padding-left:0px;
					font-weight: bold;
					color: black;
				}
			}
		}
	}

	.raw-items {
		margin-top:2px;
		padding:10px;
		label {
			font-weight: bold;
		}
		.raw-item {
			color: #888;
			padding: 5px;
		}
	}

}